body {
  font-family: 'Roboto Slab', serif;
  background-color: #f9f4ef;
  color: #020826;
  text-align: center;
}

h1 {
  text-align: center;
}

p, li {
  font-weight: 300;
  color: #716040;
}

a {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f25042; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

img {
  height: 400px;
  border: solid 3px #f25042;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}
